<div class="our-menu-home">
    <div class="container">
        <div class="col-12">
            <div class="menu-home-title">
                <h3>Our Menus</h3>
            </div>
        </div>

        <div class="home-menu-card container text-center">
            <div class="row justify-content-md-center">
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Angry Menu [ Limited Time ]</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/2.png" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">BK APP EXCLUSIVE</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/3.png" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Cheese Burger Favorit</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row justify-content-md-center">
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/4.png" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Cheese Whopper®</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/5.jpg" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Gold Collection</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/6.jpg" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">KING'S CHICKEN</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row justify-content-md-center">
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/7.png" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Kids Meal</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/8.png" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">Side & Dessert [ Menu BOKEK ]</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a routerLink="/menus">
                        <div class="card">
                            <img src="../../assets/img/menu/9.jpg" class="card-img-top" alt="...">
                            <div class="card-body d-flex">
                            <h5 class="card-title">BEVERAGES</h5>
                            <a href="#" class="btn btn-order">Order</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>